{% extends "_base.html" %}
{% load static %}
{% block content %}

<div class="container mx-auto p-8">
    <header class="text-center mb-6">
        <img src={% static profilePic %} alt="Profile Picture" class="w-24 h-24 mx-auto rounded-full mb-4">
        <h1 class="text-2xl font-semibold">{{ name }}</h1>
        <p class="text-gray-600">{{ course }}</p>
    </header>

    <section class="bg-white rounded-lg shadow p-6 mb-6">
        <h2 class="text-lg font-semibold mb-3">Contact Information</h2>
        <address class="text-gray-600">
            Email: {{ email }}<br>
            Phone: {{ phone }}<br>
            <div class="mt-2">
                <a href={{ linkedinLink }} target="_blank"
                   class="text-gray-600 hover:text-blue-500">
                    <i class="fab fa-linkedin fa-lg mr-2"></i> LinkedIn
                </a>
                <a href={{ githubLink }} target="_blank"
                   class="text-gray-600 hover:text-gray-800 ml-4">
                    <i class="fab fa-github fa-lg mr-2"></i> GitHub
                </a>
            </div>
        </address>
    </section>

    <section class="bg-white rounded-lg shadow p-6 mb-6">
        <h2 class="text-lg font-semibold mb-3">About me</h2>
        <p class="text-gray-600">{{ description }}</p><br>
    </section>

    <section class="bg-white rounded-lg shadow p-6 mb-6" id="education">
        <h2 class="text-lg font-semibold mb-3">Education</h2>
        {% for x in education %}
        {{ x.duration }}<br>
        <p class="text-gray-600 mb-4"><strong>{{ x.school }}</strong><br>
            {{ x.certification }}<br>
        </p>
        {% endfor %}
    </section>

    <section class="bg-white rounded-lg shadow p-6 mb-6">
        <h2 class="text-lg font-semibold mb-3">Experience</h2>
        {% for x in experience %}
        {{ x.duration }}<br>
        <p class="text-gray-600 mb-4"><strong>{{ x.company }}</strong><br>
            {{ x.position }}<br>
            {{ x.description }}<br>
            {% if x.skills %}
            Skills: {{ x.skills }}<br>
            {% endif %}
        </p>
        {% endfor %}
    </section>

    <section class="bg-white rounded-lg shadow p-6 mb-6" id="projects">
        <h2 class="text-lg font-semibold mb-3">Projects</h2>
        {% for x in project %}
        {{ x.duration }}<br>
        <p class="text-gray-600 mb-4"><strong>{{ x.name }}</strong><br>
            {{ x.associated_with }}<br>
            {% if x.description %}
            {{ x.description }}<br>
            {% endif %}
        </p>
        {% endfor %}
    </section>

    <section class="bg-white rounded-lg shadow p-6 mb-6" id="awards">
        <h2 class="text-lg font-semibold mb-3">Awards</h2>
        <ul class="list-disc">
            {% for x in awards %}
            <li class="text-gray-600 mb-4">{{ x.title }}<br>
                {% if x.issuer %}
                {{ x.issuer }}<br>
                {% endif %}
                {% if x.issuedDate %}
                {{ x.issuedDate }}<br>
                {% endif %}
                {% if x.description %}
                {{ x.description }}<br>
                {% endif %}
                {% if x.link %}
                <a href={{ x.link }} target="_blank" class="text-gray-600 hover:text-blue-500">
                    <i class="fas fa-link fa-lg mr-2"></i> View Certificate
                </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </section>

    <section class="bg-white rounded-lg shadow p-6" id="skills">
        <h2 class="text-lg font-semibold mb-3">Skills</h2>
        <ul class="list-disc list-inside text-gray-600">
            {% for i in skills %}
            <li>{{ i }}</li>
            {% endfor %}
        </ul>
    </section>

</div>


{% endblock content %}